body {
    margin: 0;
    padding: 0;
    font-family: 'montserrat', sans-serif;
    background-color: #f4f6f9;
}


/* Start of header css */
header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
    padding: 1rem 2rem;
    z-index: 1000;
    justify-content: space-between; 
    padding-right: 155px;
}
  
#logo {
      width: 50px;
      height: 50px;
      margin-left: 100px;
}
  
#pupAfRA {
    color: #880000;
    font-size: 1.4rem;
    font-weight: 750;
    margin-right: 920px;
    margin-left: 10px;
    text-decoration: none;
    
}
/* End of header css */

/* Start of Dropdown container styles */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #333;
    min-width: 120px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
    opacity: 0;
    transition: opacity 0.3s ease;
    border-radius: 10px;
    margin-left: 50px;
    margin-top: 40px;
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    width: 120px;
}

.dropdown-content a:last-child {
    color: #ff6b6b;
}

.dropdown-content a:first-child:hover {
    background-color: #555;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px; 
}

.dropdown-content a:nth-child(2):hover {
    background-color: #555;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px; 
}

.icon-container i:nth-child(2):hover + .dropdown-content,
.dropdown-content:hover {
    display: block;
    opacity: 1;
}

.icon-container {
    display: flex;
    cursor: pointer;
    margin-left: auto;
}

.icon-container i:nth-child(2) {
    margin-left: 10px;
    margin-top: 20px;
}

/* End of dropdown container css */

/* Start of footer css */
footer {
    background-color: #5E0909;
    font-size: 21px;
    font-weight: 500;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 7.5rem;
}
  
.footer-left a, .footer-right a {
    color: #ffffff;
    text-decoration: none;
}
  
.footer-left a:hover, .footer-right a:hover {
    text-decoration: underline;
}
  
#backToTopBtn {
    position: fixed;
    bottom: 20px; 
    right: 20px;
    cursor: pointer;
    transition: bottom 0.3s ease;
}
  
#backToTopBtn img {
    width: 90px; 
    height: 90px;
}
  
#backToTopBtn:hover {
    bottom: 30px;
}
  
#backToTopBtn:hover img {
    content: url(/assets/icons/hover-go-to-top_icon.png); 
} 
/* End of footer css */


/* Start of title css */
.title {
    text-align: center;
    margin-top: 120px;
}

.title h2 {
    font-size: 40px;
    color: #0E0D0D;
}
/* End of title css */


/* Start of form container css */
.form-container {
    max-width: 1200px;
    max-height: 1500px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    border-radius: 30px;
}
/* End of form container css */


/* Start of progress bar css */
.progress-bar-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 900px;
    margin: 20px auto;
}

.step-button {
    width: 40px;
    height: 40px;
    background-color: #D9D9D9;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    margin: 0 5px;
}

.line {
    border: 0;
    background-color: #D9D9D9;
    flex-grow: 5;
    padding: 3px;
    border-radius: 5px;
}

.line1 {
    border: 0;
    background-color: #D9D9D9;
    flex-grow: 5;
    padding: 3px;
    border-radius: 5px;
    background: linear-gradient(to right, #5D0909 50%, #D9D9D9 50%);
}

.step-button:first-child {
    background-color: #5D0909;
}

.step-text-container {
    display: flex;
    width: 980px;
    justify-content: space-between;
    margin: 10px auto;
}

.step-text {
    font-size: 13px;
    font-weight: bold;
    color: #555555;
}

.step-text:first-child {
    margin-right: 40px;
    margin-left: 15px;
}

.step-text:last-child {
    margin-left: 10px;
}
/* End of progress bar css */


/* Start of form content css */
/* row 1 and row 2 */
.name-section {
    text-align: left;
    padding: 20px;
    margin-left: 100px;
}

.name-section h2{
    padding-left: 7px;
}

.name-section h2,
.row3-text,
.row5-text,
.row7-text,
.row9-text, 
.row11-text,
.row13-text {
    font-size: 20px;
    font-weight: bold;
    color: #464040;
}

.input-fields {
    display: flex;
}

.rounded-input {
    border: 1.5px solid #555555;
    border-radius: 10px;
    padding: 15px;
    margin-right: 10px;
    width: 14rem;
    font-family: 'montserrat', sans-serif;
    font-size: 20px; 
}

.rounded-input::placeholder {
    font-family: 'montserrat', sans-serif;
    font-size: 20px; 
    color: #888888; 
}
/* end of row 1 and row 2*/

/* row 3 */
.row3-text-container {
    display: flex;
    width: 950px; 
    justify-content: space-between;
    margin: 10px auto;
    text-align: left;
}

.row3-text:nth-child(2) {
    margin-right: 80px;
    margin-left: 110px;
}

.row3-text:last-child {
    margin-right: 165px;
    margin-left: 20px;
}
/* end row 3 */

/* row 4 */
.row4-fields-container {
    display: flex;
    width: 985px; 
    justify-content: space-between;
    margin-left: 110px;
    text-align: left;
}

#collegeDepartment {
    width: 390px;
}

select {
    border: 1.5px solid #555555;
    border-radius: 10px;
    padding: 15px;
    margin: 10px;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    color: #888888;
}

select option {
    font-family: 'montserrat', sans-serif;
    font-size: 20px;   
    color: #0E0D0D;
}

select option:disabled {
    color:#fff;
    background-color: #D9D9D9;
}

.dash {
    font-size: 15px;
    font-weight: bolder;
    margin-top: 25px;
}
/* end of row 4 */

/* row 5 */
.row5-text-container {
    display: flex;
    width: 950px; 
    justify-content: space-between;
    margin: 10px auto;
    text-align: left;
    padding-top: 10px;
}

.row5-text:last-child {
    font-size: 20px;
    font-weight: bold;
    color: #9A3030;
}
/* end of row 5 */

/* row 6 */
.row6-fields-container,
.row8-fields-container,
.row12-fields-container {
    display: flex;
    width: 985px; 
    justify-content: space-between;
    margin-left: 110px;
    text-align: left;
}

input[type="date"] { /* CSS for all the date*/
    border: 1.5px solid #555555;
    border-radius: 10px;
    padding: 15px;
    margin: 10px;
    width: 17.8rem;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    color: #888888;
}

#firstTimeApply {
    width: 28rem;
}
/* end of row 6 */

/* row 7 */
.row7-text-container {
    display: flex;
    width: 950px; 
    justify-content: space-between;
    margin: 10px auto;
    text-align: left;
    padding-top: 10px;
}

.row7-text:nth-child(2) {
    margin-right: 100px;
}

.row7-text:nth-child(3) {
    margin-right: 10px;
}

.row7-text:last-child {
    margin-right: 45px;
}
/* end of row 7 */

/* row 8 */
#admissionStatus {
    width: 24rem;
}

#pupcetRating, #hsAverage {
    border: 1.5px solid #555555;
    border-radius: 10px;
    padding: 15px;
    margin: 10px;
    width: 12.7rem;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    color: #888888;
}
/* end of row 8 */

/* row 9 */
.row9-text-container {
    display: flex;
    width: 950px; 
    justify-content: space-between;
    margin: 10px auto;
    text-align: left;
    padding-top: 10px;
}

.row9-text:nth-child(2) {
    margin-left: 7px;
}

.row9-text:last-child {
    margin-right: 15px;
}
/* end of row 9 */

/* row 10 */
.row10-fields-container {
    margin-left: 120px;
    display: flex;
    width: 975px; 
    justify-content: space-between;
    text-align: left;
}

#unitsEarned {
    border: 1.5px solid #555555;
    border-radius: 10px;
    padding: 15px;
    margin: 10px;
    width: 15rem;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    color: #888888;
}

#courseEnrolled {
    width: 19rem;
    height: 25px;
    margin-top: 11px;
    font-family: 'montserrat', sans-serif;
    font-size: 20px; 
}

#yearLevel {
    width: 15rem;
}
/* end of row 10 */

/* row 11 */
.row11-text-container {
    display: flex;
    width: 950px; 
    justify-content: space-between;
    margin: 20px auto;
    text-align: left; 
}

/* row 12 */
#reasonForStopping {
    border: 1.5px solid #555555;
    border-radius: 10px;
    padding: 10px;
    margin-right: 10px;
    margin-left: 10px;
    width: 50rem;
    height: 6rem;
    font-family: 'montserrat', sans-serif;
    font-size: 20px; 
}

/* row 13 */
.row13-text-container {
    display: flex;
    width: 950px; 
    justify-content: space-between;
    margin: 20px auto;
    text-align: left;
    padding-top: 10px;
}

/* row 14*/
.row14-fields-container {
    display: flex;
    width: 985px; 
    justify-content: space-between;
    margin-left: 120px;
    text-align: left;
}

#reasonForContinuing {
    border: 1.5px solid #555555;
    border-radius: 10px;
    padding: 10px;
    margin-right: 20px;
    width: 50rem;
    height: 6rem;
    margin-bottom: 40px;
    font-family: 'montserrat', sans-serif;
    font-size: 20px; 
}
/* end of row 14 */
/* End of form content css */

/* Start of next button css */
.next-button {
    display: flex;
    align-items: center;
    background-color: #880000;
    color: #fff;
    font-size: 25px;
    font-weight: bold;
    font-style: 'monserrat', sans-serif;
    padding: 10px 25px;
    width: 100px;
    margin-left: 81%;
    margin-bottom: 50px;
    border-radius: 30px 30px 30px 30px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.next-button:hover {
    background-color: #B72F17;
}

.text {
    margin-left: 10px;
}

.icon {
    font-size: 30px;
}
/* End of next button css */

