body {
  margin: 0;
  padding: 0;
  font-family: 'montserrat', sans-serif;
  background-color: #f4f6f9;
}

/* Header css */
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0 0.8rem 1.6rem rgba(0, 0, 0, 0.2);
  padding: 1rem 2rem;
  z-index: 1000;
}

#logo {
    width: 50px;
    height: 50px;
    margin-left: 100px;
}

#pupAfRA {
  color: #880000;
  font-size: 1.4rem;
  font-weight: 750;
  margin-left: 15px;
}

#applyNowButton {
  background-color: #880000;
  color: #ffffff;
  padding: 0.7rem 2.2rem;
  font-size: 1rem;
  font-weight: 700;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: 600;
  margin-left: 57%;
  font-family: 'montserrat', sans-serif;
}
/* End of header css*/

/* Top homepage css*/
.home-page {
  position: relative;
  height: 100vh; 
}

.home-page-bg img {
  width: 100%;
  height: 100%;
  object-fit: cover; 
}

.content {
  position: absolute;
  top:  62%;
  left: 34.5%;
  transform: translate(-50%, -50%);
  text-align: left;
  color: #ffffff;
  z-index: 1;
}

.content h1 {
  font-size: 4.8rem;
  font-weight: bold;
  line-height: 1.5;
  margin-bottom: 10px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.content .subtext {
  font-size: 1.2rem;
  font-weight: 500;
  margin-top: -10px;
  z-index: 1;
}
/* End of top homepage css */

/* Homepage text content css */
.home-page-content {
  padding: 140px;
}

.hp-text-content .RS-title {
  font-size: 33px;
  font-weight: 700;
  color: #800000; 
  z-index: 1;
}

.hp-text-content .title {
  font-size: 28px;
  font-weight: 500px;
  color: #800000; 
  z-index: 1;
}

.hp-text-content .RS-subtext, .DTS-list {
  font-size: 25px;
  font-weight: medium;
  color: #555555; 
  line-height: 1.9;
  z-index: 1;
}

/* University calendar hyperlink */
.RS-subtext a {
  color: inherit; 
  text-decoration: underline; 
  cursor: pointer;
}
/* End of homepage text content css */

/* Start of footer css*/
footer {
  background-color: #5E0909;
  font-size: 21px;
  font-weight: 500;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 7.5rem;

}

.footer-left a, .footer-right a {
  color: #ffffff;
  text-decoration: none;
}

.footer-left a:hover, .footer-right a:hover {
  text-decoration: underline;
}

#backToTopBtn {
  display: none;
  position: fixed;
  bottom: 20px; 
  right: 20px;
  cursor: pointer;
  transition: bottom 0.3s ease;
}


#backToTopBtn img {
  width: 90px; 
  height: 90px;
}

#backToTopBtn:hover {
  bottom: 30px;
}

#backToTopBtn:hover img {
  content: url(/assets/icons/hover-go-to-top_icon.png); 
}

/* End of footer css */