* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gotham', sans-serif;
    font-weight: 400;
}
.form-container {
    align-items: center;
    max-width: 500px;
    margin: 30px auto;
    padding: 20px;
    background-color: #ffffff;
    border: 0;
    border-radius: 10px;

}

body {
    background-color: #f4f6f9;
}

input {
    width: 80%;  
    padding: 8px;
    border: 1px solid #878787;
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;
}